<div class="container">
  <h4>Parent Component</h4>

  To send whatever is entered in the text field to child component<br>
  Pass data: 
  <br>
  <input type="text" class="form-control"[(ngModel)]="enterName"/>
  <input type="button" value="send"(click)="transferData()" class="btn btn-primary"><br>
  <input type="text" class="form-control"[(ngModel)]="enterName2"/>
  <input type="button" value="send2"(click)="transferData2()" class="btn btn-primary"><br>
  
<h4>received from child: {{value}} </h4>


  <app-home [parentData]=parentData [parentData2]=parentData2></app-home>
  <app-about (sendData)="sendData($event)"></app-about>

</div>